#modal { display: none ;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 35%;
    height: 45%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding:10px;
}


#modal-content {
    display: none ;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto; */
    text-align: left;
}


.modal-bookshelf { display: none ;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 35%;
    height: 45%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding:10px;
}


.modal-content-bookshelf {
    display: none ;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto; */
    text-align: left;
}


#before-login-body-image{
    background-color: #CBC0AD;
    height: 800px;
}

.navbar { background-color: black;
          height: 80px}

.navbar-brand{color: white;}

.nav-link{color: white;}

.fixed-bottom{background-color: black;}
/*
.navbar-toggler-icon{border-color:pink;} */

.custom-toggler.navbar-toggler {
            border-color: white;
        }
        /* Setting the stroke to green using rgb values (0, 128, 0) */

.custom-toggler .navbar-toggler-icon {
            background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }

/* .circle {
    background: rgba(0,0,0,.3);
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
          } */

.circle{background:rgba(0,0,0,.3);
        width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;}