#modal { display: none ;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 35%;
    height: 45%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding:10px;
}


#modal-content {
    display: none ;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto; */
    text-align: left;
}


.modal-bookshelf { display: none ;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 35%;
    height: 45%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding:10px;
}


.modal-content-bookshelf {
    display: none ;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto; */
    text-align: left;
}


#before-login-body-image{
    background-color: #E4B04A;
    height: 800px;
}

.navbar {background-color: #252321;
        height: 75px;}


.navbar-brand{color: white;}

.nav-link{color: white;}

.fixed-bottom{background-color: #141414;}
/*
.navbar-toggler-icon{border-color:pink;} */

.custom-toggler.navbar-toggler {
            border-color: white;
        }
        /* Setting the stroke to green using rgb values (0, 128, 0) */

.custom-toggler .navbar-toggler-icon {
            background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }

/* .circle {
    background: rgba(0,0,0,.3);
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
          } */

/* .triangle-up{background:#E4B04A;
        width: 0;
        height: 0;
        margin: auto;
        margin-right: 0px;
        border-left: 400px solid transparent;
        border-right: 150px solid transparent;
        border-bottom: 300px solid #B7521E} */


.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 9999;
    background:#1b1811;
    color: #fff;
    transition: all 0.3s;
    font-family: 'Montserrat', sans-serif;
    margin-right:20px
}

.side-nav-items{font-family: 'Montserrat', sans-serif;
    color:white;
}

label{ font-family: 'Montserrat', sans-serif
}

#homepage-header{
    margin-left: 270px;
}

.book-description{display: none;
}

#prior-to-login-homepage, html {
    height: 100%;
  }

.bg{
    background-image: url("/static/images/dog-photo.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  body{
    font-family: 'Montserrat', sans-serif;
  }

/* #slogan-row{
    position: relative;
    left: 80%;
    top: 75%;
    padding: 5em;
    position: absolute;
    margin-left: 70em;
    transform: translate(-50%, -50%);
  } */

  /* #slogan-col{
      width: 100%;
  } */

  #slogan-text{
    font-family: 'Roboto', sans-serif;
    color: #2a1d17;
    font-size: 270%;
    margin-top: 40%;
    margin-bottom: 0;
    text-align: left;
    padding-left: 67.5%;
    /* margin-right: 1.65em; */
  }

  #slogan-text-pt2{
    font-family: 'Open Sans', sans-serif;
    color: #694946;
    font-size: 200%;
    text-align: left;
    margin-top: -.2em;
    padding-left: 72%;
    /* margin-right: 2.4em; */
    margin-bottom: 0px;
}

.account-details{
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
}

.birthday-label{display: inline;
                height:24px;
                margin:55px}

.birthday{display: inline-block;
         width: 149px;
         height: 30px;
         margin: 2px;}


.sign-up-or-log-in-form{
    margin-top: 1.5em;
}

.gender-radio-button{
    margin: 7px
}

.account-header{margin: 2px;}


.book-tag{
    display: inline-block;
}

#homepage-header{
    margin-top: 7%
}

.book-image{
            width: 128px;
            height:204px;
            border: 1px gold solid;
            border-spacing: 10px;
            /* text-align: center; */
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);}

.book-outterdiv{margin-left: 10px;
                display: inline-block;
                position: relative;
                text-align: center;
                }

.book{margin: 1em;
    background-color: rgba(46, 49, 49, .6);
    width:300px;
    height: 300px;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;}

#homepage-after-login{background-color: #1b1811;
                      color: white;
                    padding-top: 5em;}


.book-author{
    text-align: center;
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 70%;
    margin-left: auto;
    margin-right: auto;}


.book-title{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;}


.heart-icon{display: inline-block;}

.ellipsis{position: absolute;
          right: 10%;
          top: 10%;}

