{% extends 'base.html' %}
{% block title %} session.profile_name  - Reading Preferences {% endblock %}

{% block body %}

<form action='handle-user-interests', method="POST">
    <label>What are you interested in?</label>

    <input type="checkbox" name="interests" value="architecture">
    <label>Architecture</label>

    <input type="checkbox" name="interests" value="art">
    <label>Art</label>

    <input type="checkbox" name="interests" value="autobiography">
    <label>Autobiography</label>

    <input type="checkbox" name="interests" value="comics">
    <label>Comics</label>

    <input type="checkbox" name="interests" value="computers">
    <label>Computers</label>

    <input type="checkbox" name="interests" value="cooking">
    <label>Cooking</label>

    <input type="checkbox" name="interests" value="crafts">
    <label>Crafts</label>

    <input type="checkbox" name="interests" value="design">
    <label>Design</label>

    <input type="checkbox" name="interests" value="drama">
    <label>Drama</label>

    <input type="checkbox" name="interests" value="education">
    <label>Education</label>

    <input type="checkbox" name="interests" value="fiction">
    <label>Fiction</label>

    <input type="checkbox" name="interests" value="gardening">
    <label>Gardening</label>

    <input type="checkbox" name="interests" value="graphic novels">
    <label>Graphic novels</label>

    <input type="checkbox" name="interests" value="humor">
    <label>Humor</label>

    <input type="checkbox" name="interests" value="juvenile fiction">
    <label>Juvenile Fiction</label>

    <input type="checkbox" name="interests" value="juvenile nonfiction">
    <label>Juvenile Nonfiction</label>

    <input type="checkbox" name="interests" value="law">
    <label>Law</label>

    <input type="checkbox" name="interests" value="literary collections">
    <label>Literary Collections</label>

    <input type="checkbox" name="interests" value="literary criticism">
    <label>Literary Criticism</label>

    <input type="checkbox" name="interests" value="mathematics">
    <label>Mathematics</label>

    <input type="checkbox" name="interests" value="medical">
    <label>Medical</label>

    <input type="checkbox" name="interests" value="music">
    <label>Music</label>

    <input type="checkbox" name="interests" value="nature">
    <label>Nature</label>

    <input type="checkbox" name="interests" value="philosophy">
    <label>Philosophy</label>

    <input type="checkbox" name="interests" value="photography">
    <label>Photography</label>

    <input type="checkbox" name="interests" value="poetry">
    <label>Poetry</label>

    <input type="checkbox" name="interests" value="political science">
    <label>Political Science</label>

    <input type="checkbox" name="interests" value="psychology">
    <label>Psychology</label>

    <input type="checkbox" name="interests" value="self-help">
    <label>Self-help</label>

    <input type="checkbox" name="interests" value="technology">
    <label>Technology</label>

    <input type="checkbox" name="interests" value="transportation">
    <label>Transportation</label>

    <input type="checkbox" name="interests" value="travel">
    <label>Travel</label>

    <input type="checkbox" name="interests" value="true crime">
    <label>True Crime</label>

    <input type="checkbox" name="interests" value="young adult fiction">
    <label>Young Adult Fiction</label>

    <input type="checkbox" name="interests" value="young adult nonfiction">
    <label>Young Adult Nonfiction</label>

    <input type="submit">
</form>

{% endblock %}