{% extends 'base.html' %}

{% block title %}
  {% if session['user_id'] %}
    {{session['profile_name']}} - Library
  {% else %}
    Homepage
  {%endif%}
{% endblock %}

{% block body %}
  {% if session['user_id'] %}
    <a href="/interests">Your interests</a>

    <h2>{{ session['profile_name'] }}</h2>
    <form action='/search-a-book'>
      <label>Search a book by title or author</label>
      <input type="text" name=search>
      <input type="submit">
    </form>

  <h2>Your Library</h2>
    <h3><a href="/recommended-books">Recommended Books</a></h3>
    <h3><a href="/read-books">Read Books</a></h3>
    <h3><a href="/liked-books">Liked Books</a></h3>
    <h3><a href="/to-be-read-books">To Be Read Books</a></h3>

  <br>

  <h2>Bookshelves</h2>
    <ul id="bookshelf-names">
    {% for bookshelf in bookshelves %}
      <li><a href="/{{bookshelf.name}}-bookshelf">{{bookshelf.name}}</a></li>
    {% endfor %}
    </ul>

  <button id="create-bookshelf-button">New Bookshelf</button>

  <div id="modal">
    <div id="modal-content">
      <form id="create-bookshelf">
      <p><label>Name: </label></p>
      <input id="bookshelf-name" type="text" name="bookshelf_name">
      <input type="submit">
      <input id="cancel" type="reset" value="Cancel">
    </form>
   </div>
  </div>

  {% else %}

  <nav class="navbar fixed-top navbar-expand-md">
    <a id="logo" class="navbar-brand" href="/">Dogeared</a>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a id="sign-up" class="nav-link" href="/sign-up">Sign up<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a id="sign-up" class="nav-link" href="/log-in">Log in</a>
        </li>
      </ul>
    </div>
  </nav>

  <div id="before-login-body-image" class="jumbotron jumbotron-fluid""></div>

  <nav class="navbar fixed-bottom">
    <a class="navbar-brand" href="/">Dogeared</a>
  </nav>

  <div class="circle"></div>

  {% endif %}
  <script src="/static/homepage.js"></script>
{% endblock %}
