{% extends 'base.html' %}

{% block title %} Doggeared - Log in{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>

<body class="pre-login-background">
  <div class="spinner-border text-success" role="status">
  </div>
  <span class="loading-quote">{{quote}}</span>

<form class="form-sign-or-log-out" action="/log-in-credentials" method="POST">
  <p class="p mb-3 strong text-center">To continue, log in to Doggeared</p>

  <label class="sign-up-or-log-in-form text-left">Email address</label>
  <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>

  <label class="sign-up-or-log-in-form"name="password">Password</label>
  <input type="password" name="password" class="form-control" placeholder="Password" required>
  <button id="login-button" class="btn btn-lg btn-primary btn-block sign-up-or-log-in-form sign-up-or-log-in-button" type="submit">Log in</button>

</form>



<p class="sign-up-or-log-in-form text-center">Don't have an account?</p>
<div class="text-center">
<button type="button" id="sign-up-button" class="btn btn-outline-dark"><a id="sign-up-button-on-log-in-page" href="/sign-up">SIGN UP FOR DOGGEARED</a></button>
</div>
</body>

{% endblock %}