{% extends 'base.html' %}

{% block title %}Log in{% endblock %}

{% block body %} 

<nav class="navbar fixed-top">
  <a class="navbar-brand" href="/">Dogeared</a>
</nav>

<br>
<br>
<br>
<br>


<form action="/log-in-credentials" method="POST">
  <label>Email address</label>
  <input type="text" name="email">

  <label>Password</label>
  <input type="text" name="password">

  <input type="submit">

</form>

<p>Don't have an account?</p>
<a href="/sign-up">SIGN UP FOR PLACEHOLDER-NAME</a>

{% endblock %}