{% extends 'base.html' %}

{% block title %} {{ session['profile_name'] }} - Liked Books {% endblock %}

{% block body %}

<h2>Your Recommended Books</h2>
<a href="/">Search for more books</a>
<br>
<br>

{% for book in search_results %}

<img src="{{book.thumbnail}}">
<br>{{ book.title }}
{% if book.subtitle %}
 {{book.subtitle}}
{% endif %}
{% for author in book.authors %} <br>
{{author}}
{% endfor %} <br>
{{ book.description }} <br>
Published: {{ book.published_date }} <br>
ISBN: {{ book.isbn_13 }}

<form class="mark-as-read" id="{{book.isbn_13}}">
    <input id="read-book-title{{book.isbn_13}}" name="title" type="hidden" value="{{ book.title }}">
    <input id="read-book-subtitle{{book.isbn_13}}" name="subtitle" type="hidden" value="{{ book.subtitle }}">
    <input id="read-book-authors{{book.isbn_13}}" name="authors" type="hidden" value="{{ book.authors }}">
    <input id="read-book-description{{book.isbn_13}}" name="description" type='hidden' value="{{ book.description }}">
    <input id="read-book-categories{{book.isbn_13}}" name="categories" type='hidden' value="{{ book.categories }}">
    <input id="read-book-image-link{{book.isbn_13}}" name="image_link" type="hidden" value="{{ book.thumbnail }}">
    <input id="read-book-isbn-13{{book.isbn_13}}" name="isbn_13" type="hidden" value="{{ book.isbn_13 }}">
    <input value="Read" type="submit">
    <span id="read-message{{book.isbn_13}}"></span>
</form>
<form class="mark-as-liked" id="{{book.isbn_13}}">
    <input id="liked-book-title{{book.isbn_13}}" name="title" type="hidden" value="{{ book.title }}">
    <input id="liked-book-subtitle{{book.isbn_13}}" name="subtitle" type="hidden" value="{{ book.subtitle }}">
    <input id="liked-book-authors{{book.isbn_13}}" name="authors" type="hidden" value="{{ book.authors }}">
    <input id="liked-book-description{{book.isbn_13}}" name="description" type='hidden' value="{{ book.description }}">
    <input id="liked-book-categories{{book.isbn_13}}" name="categories" type='hidden' value="{{ book.categories }}">
    <input id="liked-book-image-link{{book.isbn_13}}" name="image_link" type="hidden" value="{{ book.thumbnail }}">
    <input id="liked-book-isbn-13{{book.isbn_13}}" name="isbn_13" type="hidden" value="{{ book.isbn_13 }}">
    <input value="Liked" type="submit">
    <span id="liked-message{{book.isbn_13}}"></span>
</form>
<form class="mark-as-to-be-read" id="{{book.isbn_13}}">
    <input id="to-be-read-book-title{{book.isbn_13}}" name="title" type="hidden" value="{{ book.title }}">
    <input id="to-be-read-book-subtitle{{book.isbn_13}}" name="subtitle" type="hidden" value="{{ book.subtitle }}">
    <input id="to-be-read-book-authors{{book.isbn_13}}" name="authors" type="hidden" value="{{ book.authors }}">
    <input id="to-be-read-book-description{{book.isbn_13}}" name="description" type='hidden' value="{{ book.description }}">
    <input id="to-be-read-book-categories{{book.isbn_13}}" name="categories" type='hidden' value="{{ book.categories }}">
    <input id="to-be-read-book-image-link{book.isbn_13}}" name="image_link" type="hidden" value="{{ book.thumbnail }}">
    <input id="to-be-read-book-isbn-13{{book.isbn_13}}"name="isbn_13" type="hidden" value="{{ book.isbn_13 }}">
    <input value="TBR" type="submit">
    <span id="to-be-read-message{{book.isbn_13}}"></span>
</form>

<form class="add-to-bookshelf" id="{{book.isbn_13}}">
    <select id="add-to-bookshelf-name{{book.isbn_13}}" name="add-to-bookshelf">
        <option value="">Add to Bookshelf</option>
        {% for bookshelf in bookshelves %}
        <option value="{{ bookshelf.name }}">{{ bookshelf.name }}</option>
        {% endfor %}
    </select>
    <input id="add-to-bookshelf-title{{book.isbn_13}}" name="title" type="hidden" value="{{ book.title }}">
    <input id="add-to-bookshelf-subtitle{{book.isbn_13}}" name="subtitle" type="hidden" value="{{ book.subtitle }}">
    <input id="add-to-bookshelf-authors{{book.isbn_13}}" name="authors" type="hidden" value="{{ book.authors }}">
    <input id="add-to-bookshelf-description{{book.isbn_13}}" name="description" type='hidden' value="{{ book.description }}">
    <input id="add-to-bookshelf-categories{{book.isbn_13}}" name="categories" type='hidden' value="{{ book.categories }}">
    <input id="add-to-bookshelf-image-link{book.isbn_13}}" name="image_link" type="hidden" value="{{ book.thumbnail }}">
    <input id="add-to-bookshelf-isbn-13{{book.isbn_13}}"name="isbn_13" type="hidden" value="{{ book.isbn_13 }}">
    <input type="submit">
    <span id="add-to-bookshelf-message{{book.isbn_13}}"></span>
    </form>

<div class="modal-bookshelf" id="modal-bookshelf{{book.isbn_13}}">
    <div class="modal-content" id="modal-content-bookshelf{{book.isbn_13}}">
    <form id="book-on-bookshelf-status{{book.isbn_13}}">
        <input value="read" type="submit">
        <input value="liked" type="submit">
        <input value="tbr" type="submit">
        <input id="cancel{{book.isbn_13}}" type="reset" value="cancel">
    </form>
    </div>
    </div>

<br>

{% endfor %}


{if session['log_in_occurrences']}

<ul>Your Interests</ul>

{% for interests in all_interests_for_a_user %}
<li>interests</li>


<script src="/static/addToBookshelfFunctionality.js"></script>
{% endblock %}