{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}

{% block body %}


<body class="pre-login-background">
  <form class="form-sign-or-log-out" action="/handle-sign-up" method="POST">
    <h3 class="h3 mb-3 text-center account-header">Sign up for free</h3>

    <label class="sign-up-or-log-in-form text-left">Whats your email?</label>
    <input type="email" name="email" class="form-control" placeholder="Enter your email address." required autofocus>

    <label class="sign-up-or-log-in-form">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Enter your password." required autofocus>

    <label class="sign-up-or-log-in-form">Confirm your password</label>
    <input type="password" name="confirm-password" class="form-control" placeholder="Enter your password again." required autofocus>


    <label class="sign-up-or-log-in-form">What should we call you?</label>
    <input type="text" name="profile-name" class="form-control" placeholder="Enter your name." required autofocus>

    <label class="sign-up-or-log-in-form">What's your date of birth?</label>
    <br>
    <label class="sign-up-or-log-in-form birthday-label">Month</label>
    <label class="sign-up-or-log-in-form birthday-label">Day</label>
    <label class="sign-up-or-log-in-form birthday-label">Year</label>
    <br>
    <select class="birthday" name="birth-month" required>
      <option value="">Month</option>
      <option value="january">January</option>
      <option value="february">February</option>
      <option value="march">March</option>
      <option value="april">April</option>
      <option value="may">May</option>
      <option value="june">June</option>
      <option value="july">July</option>
      <option value="august">August</option>
      <option value="september">September</option>
      <option value="october">October</option>
      <option value="november">November</option>
      <option value="december">December</option>
    </select>

    <input class="birthday" id="day" type="text" name="birth-day" class="form-control" placeholder="DD" required autofocus>

    <input class="birthday" id="year" type="text" name="birth-year" class="form-control" placeholder="YYYY" required autofocus>

    <label class="sign-up-or-log-in-form">What's your gender?</label>
    <br>
    <input type="radio" name="gender" value="female">
    <label class="sign-up-or-log-in-form gender-radio-button">Female</label>

    <input type="radio" name="gender" value="male">
    <label class="sign-up-or-log-in-form gender-radio-button">Male</label>

    <input type="radio" name="gender" value="Non-binary">
    <label class="sign-up-or-log-in-form gender-radio-button">Non-binary</label>

    <input type="radio" name="gender" value="Non-binary">
    <label class="sign-up-or-log-in-form gender-radio-button">Prefer Not To Say</label>

    <button class="btn btn-lg btn-primary btn-block sign-up-or-log-in-form sign-up-or-log-in-button" type="submit">Sign up</button>

    <p class="text-center sign-up-or-log-in-form">Have an account? <a id="log-in-link" href="/log-in">Log in</a>. </p>



{% endblock %}