{% extends 'base.html' %}

{% block title %} {{ user.profile_name}} - Read Books {% endblock %}

{% block body %}

<h2>Your Read Books</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Read Date</th>
  </tr>
  {% for read_book in read_books %}
  <tr>
       <td>{{ read_book.book.title }} </td>
       {% for author_name in read_book.book.author %}
       <td>{{ author_name.fname }} {{ author_name.lname }}</td>
       {% endfor %}
       <td>{{read_book.read_date}}</td>
  </tr>
  {% endfor %}

</table>
{% endblock %}