{% extends 'base.html' %}

{% block title %} {{ user.profile_name}} - Liked Books {% endblock %}

{% block body %}

<h2>Your Liked Books</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Read Date</th>
  </tr>
  {% for liked_book in liked_books %}
  <tr>
       <td>{{ liked_book.book.title }} </td>
       {% for author_name in liked_book.book.author %}
       <td>{{ author_name.fname }} {{ author_name.lname }}</td>
       {% endfor %}
       <td>{{liked_book.read_date}}</td>
  </tr>
  {% endfor %}

</table>
{% endblock %}