{% extends 'base.html' %}

{% block title %} {{ user.profile_name}} - To Be Read Books {% endblock %}

{% block body %}

<h2>Your To Be Read Books</h2>
<a href="/user/<user_id>">Search for more books</a>

<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Date Added</th>
  </tr>
  {% for to_be_read_book in to_be_read_books %}
  <tr>
    <td>
      <form action="/handle-remove-to-be-read-book" method="POST">
        <input name="isbn_13" type="hidden" value="{{ to_be_read_book.book.isbn_13 }}">
        <input type="submit" value="Remove">
        </form>
    </td>
       <td>{{ to_be_read_book.book.title }} </td>
       {% for author_name in to_be_read_book.book.authors %}
       <td>{{ author_name.full_name }}</td>
       {% endfor %}
       <td>{{to_be_read_book.to_be_read_date}}</td>
  </tr>
  {% endfor %}

</table>
{% endblock %}