{% extends 'base.html' %}

{% block title %} {{ session['profile_name'] }} - Liked Books {% endblock %}

{% block body %}
<body class="homepage-after-login">



  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#about">About</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Services</span> <span class="caret"></span></a>
        <ul class=" dropdown-menu">
            <li class="sublist"><a href="#">Service A</a></li>
            <li class="sublist"><a href="#">Service B</a></li>
            <li class="dropdown-submenu sublist">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Service C</span><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a  href="#">Service C1</a></li>
                    <li><a  href="#">Service C2</a></li>
                    <li><a  href="#">Service C3</a></li>
                    <li><a  href="#">Service C4</a></li>
                    <li><a  href="#">Service C5</a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<h2>Your Liked Books</h2>
<a href="/">Search for more books</a>

  <table>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Author</th>
      <th>Read Date</th>
    </tr>
    {% for liked_book in liked_books %}
    <tr>

      <td>
        <form action="/handle-remove-liked-book" method="POST">
          <input name="isbn_13" type="hidden" value="{{ liked_book.book.isbn_13 }}">
          <input type="submit" value="Remove">
          </form>
      </td>
         <td>
           {{ liked_book.book.title }}
         </td>
         {% for author_name in liked_book.book.authors %}
         <td>{{ author_name.full_name }}</td>
         {% endfor %}
         <td>{{ liked_book.liked_date }}</td>
    </tr>
    {% endfor %}

  </table>
  <script src="/static/homepage.js"></script>
 <script src="/static/markBook.js"></script>
</body>
  {% endblock %}