{% extends 'base.html' %}

{% block title %} {{ session['profile_name'] }} - Read Books {% endblock %}

{% block body %}

<body class="homepage-after-login">
  <!-- Static navigation bar -->
  <nav class="navbar navbar-expand-md navbar-expand-sm navbar-logged-in">
    <a class="navbar-brand" href="/">Doggeared</a>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
    data-target="#navbarResponsive" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form action='/search-a-book' class="form-inline my-2 my-lg-0">
        <input name=search class="form-control ml-sm-2 mr-auto" type="search" placeholder="Search" aria-label="Search">
      </form>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{session['profile_name']}}
          </a>
            <div id="profile-name-dropdown" class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div id="your-interest-button-div">
              <a class="dropdown-item" id="your-interest-button" href="/interests">Your interests</a>
            </div>
              <form action="/log-out" class="form-inline my-2 my-lg-0">
                <input id="log-out-button" type="submit" value="Log Out">
              </form>
            </div>
        </li>
      </ul>

    </div>
  </nav>

  <!-- Side nav bar -->
  <div class="wrapper">
    <nav id="sidebar">
        <ul class="list-unstyled components">
          <li><a class="side-nav-items" href="/"> <i class="fas fa-home"> </i></a></li>
        </ul>
        <p>YOUR LIBRARY</p>
        <ul class="list-unstyled components">
          <li><a class="side-nav-items" href="/read-books">Read Books</a></li>
          <li><a class="side-nav-items" href="/liked-books">Liked Books</a></li>
          <li><a class="side-nav-items" href="/to-be-read-books">To Be Read List</a></li>
        </ul>
        <p>BOOKSHELVES</p>
        <ul id="bookshelf-names" class="list-unstyled components">
            {% for bookshelf in bookshelves %}
            <li><a class="side-nav-items" href="/{{bookshelf.name}}-bookshelf">{{bookshelf.name}}</a></li>
          {% endfor %}
          </ul>
          <div id="create-bookshelf-button" >
            <i class="fas fa-plus-circle"></i><h6 class="create-bookshelf-button-text" >New Bookshelf</h6>
          </div>
    </nav>
</div>


<!-- Container-fluid so it spans the entire page -->
<div class="container-fluid">
  <!-- Chosen for you heading -->
  <div class="row">
      <section class="col-md-4 col-sm-1 homepage-heading">
          <H2>Read Books</H2>
          <h3 id="removed-message"></h3>
      </section>
  </div>
</div>


<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Read Date</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for read_book in read_books %}
  <tr>
    <td>
    </td>
       <td>
        <i class="far fa-heart heart-icon" id="{{read_book.book.isbn_13}}"></i>
        {{ read_book.book.title }}
        <form class="mark-as-liked book-tag" id="{{read_book.book.isbn_13}}" method="POST">
          <input id="liked-book-title{{read_book.book.isbn_13}}" name="title" type="hidden" value="{{ read_book.book.title }}">
          <input id="liked-book-subtitle{{read_book.book.isbn_13}}" name="subtitle" type="hidden" value="{{ read_book.book.subtitle }}">
          <input id="liked-book-authors{{read_book.book.isbn_13}}" name="authors" type="hidden" value="{{ read_book.book.authors }}">
          <input id="liked-book-description{{read_book.book.isbn_13}}" name="description" type='hidden' value="{{ read_book.book.description }}">
          <input id="liked-book-categories{{read_book.book.isbn_13}}" name="categories" type='hidden' value="{{ read_book.book.categories }}">
          <input id="liked-book-image-link{{read_book.book.isbn_13}}" name="image_link" type="hidden" value="{{ read_book.book.thumbnail }}">
          <input id="liked-book-isbn-13{{read_book.book.isbn_13}}" name="isbn_13" type="hidden" value="{{ read_book.book.isbn_13 }}">
        </form>
       </td>
       {% for author_name in read_book.book.authors %}
       <td>{{ author_name.full_name }}</td>
       {% endfor %}
       <td>{{ read_book.read_date }} <td>
        <td>
          <form class="remove-book" id="{{ read_book.book.isbn_13 }}" action="/handle-remove-read-book" method="POST">
          <input name="isbn_13" type="hidden" value="{{ read_book.book.isbn_13 }}">
          <button class="remove-button" type="submit">
            <i class="fas fa-times" id="{{read_book.book.isbn_13}}"></i>
            </button>
          </form>
        </td>
  </tr>
  {% endfor %}
</tbody>
</table>


<div id="outside-margin">
  <div id="modal">
    <div id="modal-content">
      <form id="create-bookshelf">
      <p><label>Name: </label></p>
      <input id="bookshelf-name" type="text" name="bookshelf_name">
      <input type="submit">
      <input id="cancel" type="reset" value="Cancel">
    </form>
   </div>
  </div>

</body>
<script src="/static/homepage.js"></script>
<script src="/static/markBook.js"></script>
{% endblock %}
